body{
    background-color: #808080;
}
.horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.horizontal-menu li {
    float: left;
}
.horizontal-menu li a {
    display: block;
    padding: 8px;
    background-color: #000;
}