body{
    background-color: #808080;
}
.horizontal-menu {
background-color: blue;
}
.horizontal-menu li {
    float: left;
}
.horizontal-menu a {
padding: 8px;
display: block;
background-color: #dddddd;
}